
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Cyborg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/custom.min.css">

  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">Colored Poster Recommendations</a>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://builtwithbootstrap.com/" target="_blank">View All Posters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Check Us Out</a>
            </li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Choose Your Color</h1>
            <p class="lead">It could be the color of your walls, your carpet, your ceilings, even the color of your cat. Choose to match or complement your color and we'll show you some posters we recommend. Check them out and deck out your home (or cat) with these fresh looks!</p>
          </div>
        </div>
      </div>



      <!-- Navs
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-6">
            <h2 id="pagination">TEST GROUP</h2>
            <div class="bs-component">
              <div>
                <ul class="pagination pagination-lg">
                  <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">TEST</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <div class="jumbotron">
                
                <!-- Insert Pagination Here My Dude -->
                <div class="bs-docs-section">
                  <div class="row justify-content-md-center">
                    <div class="col-lg-6">
                      <div class="bs-component">
                        <div>
                          <ul class="pagination pagination-lg">
                            <li class="page-item disabled">
                              <a class="page-link" href="#">&laquo;</a>
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#menu-primary">PRIMARY</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#menu-secondary">SECONDARY</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#menu-tertiary">TERTIARY</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#">&raquo;</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Richard L Rogers</div>
                <div class="card-body">
                  <h4 class="card-title">The L Stands for "Lover of Fine Grinds"</h4>
                  <p class="card-text">Grandson of Steve Rogers, legendary American War Hero</p>
                </div>
              </div>
            </div>
            <div class="cold-sm">
              <div class="card border-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Jordan Winfery</div>
                <div class="card-body">
                  <h4 class="card-title">Master of Inception</h4>
                  <p class="card-text">He who must not can't even right now</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Dialogs
      ================================================== -->

      <footer id="footer">
        <div class="row">
          <!-- Insert Footer Here -->
        </div>

      </footer>


    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>