<!--http://dev.splunk.com/view/webframework-djangobindings/SP-CAAAESM-->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Color Matching Poster</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    </head>
    <body>
        
        <div class ="opener container">
            <h1>Here are the posters which best suit your chosen base color!</h1>
        </div>
        <div class = "opener container">
            <h2>You selected to {{ selection_option }} the color: {{ color_selected }}</h2>
            <h3>These are good posters based on your choice:</h3>
            <ul>
            {% for poster in posters %}
                <li><a href="{{poster}}" target='_blank'>{{poster}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
