html{
    font-family: "sans-serif;
}

body{
    margin: 5%;
    height: 100%;
    word-wrap: break-word;
}

.opener{
    margin-top: 40px;
    text-align: left;
    background: linear-gradient(45deg, #333343, #333333);
    color: white;
    padding: 5%;
}

.opener h1{
    font-size: 50px;
    color: white;
}

.box{ 
  height: 130px;
  width: 130px;
  border-radius: 5%;
  
  
}

.box p{
    padding-top: 30%;
}

.match_comp{
    margin-top: 25px;
    padding: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: #333343;
}



.selection {
    width: 900px;
    height: 300px;
}

.choices{
    padding: 50px;
    border: 15px solid #333343;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}


.choices p {
    text-align: center;
    margin-top: 7%;
}

/*Color Choices*/

#red {
    background: linear-gradient(45deg, #af1212 , #e34234 );
}


#vermilion{

    background: linear-gradient(to right, #e34234 , orange );
}

#orange{
    background: linear-gradient(to right, orange, #FFC200) ;
}

#amber{
    background: linear-gradient(to right, #FFC200, yellow) ;
}

#yellow{
    background: linear-gradient(45deg, yellow, #e5df0c) ;
}

#chartreuse{
    background: linear-gradient(to right, chartreuse, green);
}

#green{
    background: linear-gradient(45deg, #0aa026, teal) ;
}

#teal{
    background: linear-gradient(to right, teal, blue) ;
}

#blue{
    background: linear-gradient(45deg, #0753db, #0eb3c4) ;
}

#violet{
    background: linear-gradient(to right, violet, purple);
}

#purple{
    background: linear-gradient(to right, purple, magenta);
}

#magenta{
    background: linear-gradient(to right, magenta, red);
}


/*Color Choices TEXT*/


#red p{
    color: black;
}
#red p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}



#vermilion p{
    color: black;
}

#vermilion p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}

  
  
  
#orange p{
    color: black;
}
#orange p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#amber p{
    color: black;
}
#amber p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#yellow p{
    
    color: black;
}
#yellow p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#chartreuse p{
    color: black;
}
#chartreuse p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#green p{
    color: black;
}
#green p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#chartreuse p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}
#chartreuse p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#teal p{
    color: black;
}
#teal p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}



#blue p{
    color: black;
}
#blue p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}



#violet p{
    color: black;
}
#violet p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}



#purple p{
    color: black;
}
#purple p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}


#magenta p{
    color: black;
}
#magenta p:hover{
    color: white;
    transition-timing-function:  color ease-in-out;
}

/*Output*/

.container ul{
    margin: 50px;
}

.container ul li{
    margin: 50px;
    color: white;
    text-decoration: none;
}

.container a{
    color: white;
}